.layout {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 3rem 40rem;
    grid-template-areas: 
        "box1 box2"
        "box3 box2"
    ;
    height: 50vh;
    overflow-x: clip;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}